# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


<Box sx={{
				height: '5rem',
				width: '10rem',
				// position: 'fixed',
				backgroundColor: 'rgba(226, 183, 20, 0.4)',
				transform: 'rotate(96deg)',
				// borderRadius: '35px',
				zIndex: 1500,
				
			}}>
				<Box sx={{
					height: '5rem',
					width: '10rem',
					// position: 'fixed',
					backgroundColor: 'rgba(226, 183, 20, 0.4)',
					
					// borderRadius: '35px',
					zIndex: 1000,
					position: 'relative',
					left: '24px',
					top: '40px',

				}}></Box>
			</Box>















			<Box sx={{
				height: '5rem',
				width: '20rem',
				transform: 'rotate(118deg)',
				borderLeft: '29px solid transparent',
				borderRight: '91px solid transparent',
				borderTop: '50px solid yellow',
				margin: '2rem',

			}}>
			</Box>
			<Box sx={{
				height: '5rem',
				width: '20rem',
				transform: 'rotate(90deg)',
				borderLeft: '50px solid transparent',
				borderRight: '91px solid transparent',
				borderBottom: '50px solid green',
				position: 'relative',
				top: '-123px',
				left: '-240px',
				margin: '2rem',
			}}>
			</Box>